{% include custom/sidebarconfigs.html %}
<ul id="mysidebar" class="nav">
    {% assign grouped = site.docs | group_by: 'category' %}
    {% for group in grouped %}
    {% if group.name == 'Chapter  2' or group.name == 'Chapter  6' or group.name == 'Chapter  8' or group.name == 'Chapter  9' or group.name == 'Chapter 10' or group.name == 'Chapter 11' %}
    <li>
      {% assign items = group.items | sort: 'order' %}
      <a href="{{ site.baseurl }}{{ items.first.url }}">{{ group.name }}</a>
      <ul>
  	{% for item in items %}
	<li class="nav-item {% if item.url == page.url %}current{% endif %}"><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>
</div>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
